# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Temporary files
tmp/
temp/

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/
coverage/

# IDE configuration files
.vscode/
.idea/
*.swp

# Ignore any other file that you don't want to track
*.tgz